Flask==3.1.3
Werkzeug==3.1.8
gunicorn

numpy==1.26.4
opencv-python-headless==4.10.0.84
mediapipe==0.10.14

matplotlib==3.8.4
pillow==10.4.0

absl-py
attrs
blinker
click
itsdangerous
Jinja2
MarkupSafe
protobuf==4.25.3
six
python-dateutil
packaging
pyparsing
cycler
kiwisolver
contourpy